<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/styles.css" />
  <title>About</title>
  <link rel="icon" href="/img/water.png">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>Lorem ipsum dolor sit amet consectetur,
      dolorem harum! Qui adipisci est reiciendis veritatis ad. Possimus veniam perspiciatis aliquid dicta optio?
      Corporis?</p>
    <img class="portrait" src="./img/1.jpg" alt="" />
  </div>

  {{>footer}}
</body>

</html>