body {
  padding: 0 15px;
  margin: 0 auto;
  color: rgb(51, 51, 51);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

footer {
  background-color: bisque;
  border-top: 1px solid #f8bdbd;
  margin-top: 15px;
  padding: 15px 0;
}

header {
  margin-bottom: 15px;
  margin-top: 15px;
}

h1 {
  font-size: 64px;
  margin-bottom: 15px;
}

header a {
  color: rgb(128, 128, 128);
  margin-right: 15px;
  text-decoration: none;
}

.portrait {
  width: 250px;
}

input {
  border: 1px solid rgb(204, 204, 204);
  padding: 8px;
}

button {
  cursor: pointer;
  border: 1px solid #888888;
  background-color: #888888;
  color: white;
  padding: 8px;
}
